<!DOCTYPE html>
<html>
<body>
	<div class="col-md-3" th:fragment="order_splienquan">

			<div class="special-item">
				<div class="product-image">
					<a href="details.html"> <img
						src="images/products/thum/products-01.png" alt="">
					</a>
				</div>
			</div>
		<div class="get-newsletter leftbar">
			<h3 class="title">
				<strong> Bản tin </strong>
			</h3>
			<p>Thông tin kỹ thuật.</p>
			<form>
				<input class="email" type="text" name=""
					placeholder=" Email của bạn ..."> <input class="submit"
					type="submit" value="Xác nhận">
			</form>
		</div>
	</div>
</body>
</html>