<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main id="doimk">
		<div class="container">
			<form name="frmBonus">
				<div class="containerForm">
					<h2>Đổi mật khẩu</h2>
					<div class="formBox">
						<div class="inputBox w50">
							<div id="username">[[${#request.remoteUser}]]</div>
						</div>
						<div class="inputBox w50">
							<input type="password" ng-model="form.password" required>
							<span>Mật khẩu cũ</span>
						</div>
						<div class="inputBox w50">
							<input type="password" ng-model="form.newPass" required>
							<span>Mật khẩu mới</span>
						</div>
						<div class="inputBox w50">
							<input type="password" ng-model="form.confirm" required>
							<span>Nhập lại mật khẩu</span>
						</div>
						<div class="inputBox w100">
							<input ng-show="frmBonus.$valid" ng-click="doimk()" type="submit"
								value="Thay đổi thông tin">
						</div>
						<div class="inputBox w100" style="font-size: 15px" ng-show="frmBonus.$invalid">Vui
							lòng nhập đầy đủ thông tin</div>
					</div>
				</div>
			</form>
		</div>
	</main>
</body>
</html>