<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main>
		<div id="body">
			<ul>
				<li><a href=""><img src="../../images/hairstyle17.jpg"
						alt="" style="width: 210px; height: 170px;"></a> <b>smartphone</b>
					<p>Smartphone dịch ra tiếng Việt có nghĩa là “điện thoại thông
						minh”. Nó là 1 loại điện thoại di động thế hệ mới, tích hợp với hệ
						điều hành và cho phép người dùng sử dụng các ứng dụng tiện ích sẵn
						có trong cửa hàng ứng dụng (hay còn gọi là App Store) của hệ điều
						hành ấy.</p></li>
				<li><a href=""><img src="../../images/laptop.jpg" alt=""
						style="width: 210px; height: 170px;"></a> <b>Laptop</b>
					<p>Nơi cung ứng laptop hàng đầu hiện này từ việc học cho đến
						laptop gaming , đi kèm với dịch vụ hỗ trợ tận tình nhất Cung cấp
						các dòng laptop như :Asus , MacBook , MSI , HP...</p></li>
				<li><a href=""><img src="../../images/dongho.jpg" alt=""
						style="width: 210px; height: 170px;"></a> <b>Đồng hồ thông
						minh</b>
					<p>Nơi cung ứng Đồng hồ thông minh hàng đầu hiện này từ mẫu mã
						thời trang, sức khỏe và thể thao , đi kèm với dịch vụ hỗ trợ tận
						tình nhất Cung cấp các dòng đồng hồ như :SAMSUNG , WATCH, XIAPMI</p></li>
				<li><a href=""><img src="../../images/phukien.jpg" alt=""
						style="width: 210px; height: 170px;"></a> <b>Phụ Kiện</b>
					<p>Và Ngoài ra chúng tôi còn cung cấp phụ kiện điện thoại và
						laptop chính hãng với nhiều loại và mẫu mã khách hàng có thể tự do
						mua sắm</p></li>
			</ul>
			<div>
				<div class="featured">
					<h2>Young Creative</h2>
					<img src="../../images/laptop1.jpg" alt=""
						style="width: 210px; height: 170px;">
					<h3>Young Creative , Nơi bạn có thể an tâm khi mua sắm</h3>
					<p>Các mẫu trang web của chúng tôi được tạo ra với nguồn cảm
						hứng, được kiểm tra cho chất lượng và sự độc đáo và được cắt lát
						và đánh mã một cách tỉ mỉ. Hơn thế nữa, chúng hoàn toàn miễn phí!
						Bạn có thể làm được rất nhiều điều với chúng. Bạn có thể sửa đổi
						chúng. Bạn có thể sử dụng chúng để thiết kế trang web cho khách
						hàng, miễn là bạn đồng ý với Điều khoản sử dụng.</p>
					<p>Bạn thậm chí có thể xóa tất cả các liên kết của chúng tôi
						nếu bạn muốn. Đang nhìn để biết thêm mẫu? Chỉ cần duyệt qua tất cả
						các Trang web Miễn phí của chúng tôi Mẫu và tìm những gì bạn đang
						tìm kiếm. Nhưng nếu bạn không tìm thấy bất kỳ mẫu trang web nào
						bạn có thể sử dụng, bạn có thể thử Thiết kế web miễn phí của chúng
						tôi dịch vụ và cho chúng tôi biết tất cả về nó. Có thể bạn đang
						tìm kiếm một cái gì đó khác biệt, một cái gì đó đặc biệt.</p>
					<p>Và chúng tôi thích thử thách làm điều gì đó khác biệt và vài
						thứ đặc biệt. Nếu bạn đang gặp sự cố và lo ngại về mẫu trang web
						này, tham gia thảo luận trên diễn đàn của chúng tôi và gặp gỡ
						những người khác trong cộng đồng có cùng sở thích với bạn</p>
				</div>
				<div class="section">
					<div class="article">
						<h2>Young Creative</h2>
						<p>Website được thiết kế như một trang bán hàng online: Đây là
							một website bán và giới thiệu sản phẩm của cửa hàng, công ty đến
							người tiêu dùng với các chi tiết mặt hàng với giá cả chính xác.
							Có các chức năng sau:</p>

					</div>
					<div class="newsletter">
						<img src="../../images/slider-image-01.png" alt=""
							style="width: 250px; height: 300px;">
						<p>
							Nếu bạn muốn mua sản phẩm rẻ và đẹp <span>Hãy gọi ngay cho cửa hàng chúng tôi</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>