<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main id="form">
		<form action="/hotro/guimail">
			<div class="container">
				<div class="containerinfo">
					<div>
						<h2>Thông Tin Liên Hệ</h2>
						<ul class="info">
							<li><span><i class="fa fa-map-marker"
									aria-hidden="true"></i></span> <span>Đường 30-4 Ninh Kiều <br />
									Thành Phố Cần Thơ
							</span></li>
							<li><span><i class="fa fa-envelope"
									aria-hidden="true"></i></span> <span>youngcreative@gmail.com</span></li>
							<li><span><i class="fa fa-phone-square"
									aria-hidden="true"></i></span> <span>036-226-5551</span></li>
						</ul>
					</div>
					<ul class="sci">
						<li><a href="#"><i class="fa fa-facebook"
								aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"
								aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"
								aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest"
								aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"
								aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="containerForm">
					<h2>Gửi Lời Nhắn</h2>
					<div class="formBox">
						<div class="inputBox w50">
							<input type="text" name="ho" required> <span>Họ</span>
						</div>
						<div class="inputBox w50">
							<input type="text" name="ten" required> <span>Tên</span>
						</div>
						<div class="inputBox w50">
							<input type="text" name="email" value="taolasang2k1@gmail.com" readonly="readonly">
						</div>
						<div class="inputBox w50">
							<input type="text" name="sdt" required> <span>Số Điện
								Thoại</span>
						</div>
						<div class="inputBox w100">
							<textarea name="tinnhan" required></textarea>
							<span>Lời Nhắn Của Bạn</span>
						</div>
						<div class="inputBox w100">
							<input type="submit" value="Gửi">
						</div>
					</div>
				</div>
			</div>
		</form>
	</main>
</body>
</html>