<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main>
		<div class="container" style="padding: 50px">
			<h2 style="padding-bottom: 30px">Hướng dẫn mua hàng</h2>
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
					<li data-target="#myCarousel" data-slide-to="3"></li>
					<li data-target="#myCarousel" data-slide-to="4"></li>
					<li data-target="#myCarousel" data-slide-to="5"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<img src="../../images/hinh1.png" alt="Chania">
						<div class="carousel-caption" style="color: red; font-size: 25px;">
							<h3>Bước 1</h3>
							<p>Chọn một sản phẩm mà bạn muốn mua</p>
							<p>Thêm sản phẩm vào giỏ hàng ở vị trí hướng dẫn là (Add To
								Cart)</p>
						</div>
					</div>

					<div class="item">
						<img src="../../images/hinh2.png" alt="Chania">
						<div class="carousel-caption" style="color: red; font-size: 25px;">
							<h3>Bước 2</h3>
							<p>Sau khi đã thêm các sản phẩm mình thích vào giỏ hàng</p>
							<p>Ta click vào Icon giỏ hàng như trên màng hình để thanh
								toán</p>
						</div>
					</div>

					<div class="item">
						<img src="../../images/hinh3.png" alt="Chania">
						<div class="carousel-caption" style="color: red; font-size: 25px;">
							<h3>Bước 3</h3>
							<p>Nếu muốn tiếp tục mua hàng vui lòng click phía dưới trái màn hình</p>
						</div>
					</div>


					<div class="item">
						<img src="../../images/hinh4.png" alt="Chania">
						<div class="carousel-caption" style="color: red; font-size: 25px;">
							<h3>Bước 4</h3>
							<p>Sau khi đã click vào icon gỏi hàng thì nhưng sản phẩm bạn
								đã chọn sẽ hiện thị ở đây</p>
							<p>Kiểm tra và click vào nút checkout như màng hình để đến
								bước tiếp theo</p>
						</div>
					</div>

					<div class="item">
						<img src="../../images/hinh5.png" alt="Chania">
						<div class="carousel-caption" style="color: red; font-size: 25px;">
							<h3>Bước 5</h3>
							<p>Sau khi bạn đã đăng nhập form thông tin sẽ xuất hiện</p>
							<p>Bạn chỉ cần điền thông tin để chúng tôi giao hàng</p>
						</div>
					</div>

					<div class="item">
						<img src="../../images/hinh6.png" alt="Chania">
						<div class="carousel-caption" style="color: red; font-size: 25px;">
							<h3>Bước 6</h3>
							<p>Sau khi đã điền thông tin đầy đủ thì chọn vào Buying trên
								màng hình để đặc hàng</p>
							<p>Hệ thổng sẽ kiểm tra và thông báo bạn đã đặt hàng thành
								công và chuyển vào giao diện thanh toán VNPAY</p>
						</div>
					</div>
					<div class="item">
						<img src="../../images/hinh7.png" alt="Chania">
						<div class="carousel-caption" style="color: red; font-size: 25px;">
							<h3>Bước 7</h3>
							<p>Vui lòng điền thông tin đầy đủ như trong hướng dẫn</p>
						</div>
					</div>
					<div class="item">
						<img src="../../images/hinh8.png" alt="Chania">
						<div class="carousel-caption" style="color: red; font-size: 25px;">
							<h3>Bước 8</h3>
							<p>Nhập mã OTP để xác nhận thanh toán</p>
						</div>
					</div>
					<div class="item">
						<img src="../../images/hinh9.png" alt="Chania">
						<div class="carousel-caption" style="color: red; font-size: 25px;">
							<h3>Bước 9</h3>
							<p>Đơn hàng của quý khách đã được thanh toán thành công</p>
						</div>
					</div>
				</div>

				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel"
					data-slide="prev"> <span
					class="glyphicon glyphicon-chevron-left"></span> <span
					class="sr-only">Trước</span>
				</a> <a class="right carousel-control" href="#myCarousel"
					data-slide="next"> <span
					class="glyphicon glyphicon-chevron-right"></span> <span
					class="sr-only">Sau</span>
				</a>
			</div>
		</div>
	</main>
</body>
</html>