<body>
	<main id="indivi">
		<div class="container">
			<div class="containerForm">
				<div>
					<div class="sen">
						<img ng-src="{{'/images/' + store.image}}" width="150" height="150"
							border="1"><br> <br>
					</div>
					<div class="formBox">
						<div class="inputBox w50">
							<input ng-model="store.account.username"
								readonly="readonly">
						</div>
						<div class="inputBox w50">
							<input ng-model="store.tencuahang"
								readonly="readonly">
						</div>
						<div class="inputBox w50">
							<input ng-model="store.trangthai"
								readonly="readonly">
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>